.nav {
    display: flex;
    justify-content: space-between;
    background-image: url(http://127.0.0.1:5500/img/marina-YmQ0-nmWcV0-unsplash.jpg);
    background-size: cover;
    /* Escala la imagen para cubrir todo el elemento */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    height: 96vh;
}

.imglogo {
    margin: 20px 20px 20px 20px;
    height: 65px;
}

.imglogo1 {
    margin: 20px 20px 20px 20px;
    height: 59px;
    width: 222px;
}
.imglogo2{
    height: 59px;
    width: 222px;
}

.form__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.form__container .form__item {
    width: 350px;
    height: 520px;
    background-color: #ffffff;
    color: #2775d5;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form__container .form__item h1 {
    text-align: start;
    margin: 16px;
    font-size: 17px;
    font-weight: revert;
}

.form__container .form__item form {
    margin-top: 15px;
}

.form__container .form__item .input {
    margin-left: 10px;
    width: 90%;
    height: 15px;
    outline: none;
    background: none;
    border: none;
    color: #000000;
    border-bottom: 1px solid rgb(218, 182, 182);
}

.form__container .form__item .label {
    margin-left: 16px;
    margin-top: 9px;
    width: 90%;
    outline: none;
    background: none;
    border: none;
    color: #000000;
}

.form__container .form__item input,
.form__container .form__item textarea {
    border-bottom: 1px solid red;
}

.form__container .form__item button {
    background-color: #2775d5;
    border: none;
    margin-top: 9px;
    margin-left: 80px;
    cursor: pointer;
}

.form__container .form__item button .btn {
    font-size: 17px;
    border: none;
    width: 200px;
    color: #fff;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.form__container .form__item button:hover {
    background-color:#1e7aeb;;
}

.mt-5 {
    margin-top: -13rem !important;
    margin-left: 34rem;
}


h2{
    width: 50%;
    font-size: 21px;
    font-weight: 400;
    color: #2775d5;
}
h2 .inclusive {
    font-weight: bold; 
}
.text{
    margin: -187px 1px 5px -569px;
}


