* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

/* Estilos generales */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(http://127.0.0.1:5500/img/marina-YmQ0-nmWcV0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 96vh;
    width: 99vw;
    padding: 20px;
}

.imglogo {
    height: 65px;
}

.imglogo1 {
    height: 59px;
    width: 222px;
}


.custom-h2 {
    width: 70%;
    font-size: 17px;
    font-weight: 500;
    color: #2775d5;
    margin: 0px 0px 0px 10px;
    height: 129px;
}

.custom-inclusive {
    font-weight: bold; 
}

.overlay {
  position: absolute;
  top: 94px;
  left: 154px;
  width: 41%;
  height: 34%;
  background-color:rgb(255 255 255 / 60%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-text {
  color: #242eb3b8;
  text-align: center;
  -webkit-text-stroke: thin;
  
}

.overlay-text .precio{
  font-size: x-large;
  font-weight: 600;
}


  .card {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .card-title {
    color: #242eb3c0;
  }
  .card-text{
    color: #242eb3b8;
  }
  
  .Incluye{
    font-weight: 700;
  }


 



  @media only screen and (max-width: 820px) and (min-width: 621px) {
 
  }
  
  @media only screen and (max-width: 500px) and (min-width: 236px) {
 
  
  }