/* Estilos generales */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(http://127.0.0.1:5500/img/marina-YmQ0-nmWcV0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 96vh;
    padding: 20px;
}

.imglogo {
    height: 65px;
}

.imglogo1 {
    height: 59px;
    width: 222px;
}

/* Estilos del formulario */
.form__container {
    position: absolute;
    left: 50%; /* Añade un ajuste horizontal al centro */
    transform: translateX(-50%); /* Centra horizontalmente */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.form__container .form__item {
    width: 350px;
    height: 520px;
    background-color: #ffffff;
    color: #2775d5;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 16px; /* Agrega espaciado interno */
    margin: -22px -407px 10px 10px;
}

.form__container .form__item h1 {
    font-size: 17px;
    font-weight: revert;
}

.form__container .form__item form {
    margin-top: 15px;
}

.form__container .form__item .input,
.form__container .form__item .label {
    width: 100%; /* Ancho completo */
    border-inline-style: none;
    border-block-start-style: none;
}



.form__container .form__item button {
    background-color: #2775d5;
    border: none;
    margin-top: 9px;
    cursor: pointer;
}

.form__container .form__item button .btn {
    font-size: 17px;
    border: none;
    color: #fff;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.form__container .form__item button:hover {
    background-color: #1e7aeb;
}

/* Estilos del texto */
.custom-text {
    margin-top: 300px; /* Ajuste vertical */
}

.custom-h2 {
    width: 70%;
    font-size: 17px;
    font-weight: 500;
    color: #2775d5;
    margin: 0px 0px 0px 10px;
    height: 129px;
}

.custom-inclusive {
    font-weight: bold; 
}

.mt-5 {
    margin-top: -14rem!important;
}

.mt-1 {
    margin-top: 11.25rem!important;
}

.overlay {
    position: absolute;
    top: 65px;
    left: 154px;
    width: 41%;
    height: 34%;
    background-color:rgb(255 255 255 / 60%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay-text {
    color: #242eb3b8;
    text-align: center;
    -webkit-text-stroke: thin;
    
  }
  
  .overlay-text .precio{
    font-size: x-large;
    font-weight: 600;
  }

  .card {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .card-title {
    color: #242eb3c0;
  }
  .card-text{
    color: #242eb3b8;
  }
  
  .Incluye{
    font-weight: 700;
  }

  footer{
    background-color: gainsboro;
  }

  footer {
    font-weight: 100;
   display: flex;
   justify-content: center;
    width: 100%;
    height: 60px;
    font-size: smaller;
  }

  .footer {
    margin: 20px 10px 10px 10px;
  }